src/main/mule/wup-item.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:outlook365="http://www.mulesoft.org/schema/mule/outlook365" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub"
	xmlns:smb="http://www.mulesoft.org/schema/mule/smb" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/smb http://www.mulesoft.org/schema/mule/smb/current/mule-smb.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/outlook365 http://www.mulesoft.org/schema/mule/outlook365/current/mule-outlook365.xsd">
	<flow name="wup-Item" doc:id="bfba0c70-d621-4465-90ea-72a4ae73ab7f" initialState="started">
		<logger level="INFO" doc:name="Flow is started" doc:id="83df690e-02c0-4f35-b374-ac703cd38d92" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logMessage": "item request started",&#10;	"action": "item request",&#10;	"flowName": flow.name,&#10;	"oebsJmsMessage": payload&#10;}]'/>
		<logger level="INFO"
        message='Filter enabled: #[p("internal.movements.filter.enabled") default false], flag.values=#[p("internal.movements.flag.values") default ""]' doc:name="internalMovements"/>
		<until-successful maxRetries="3" doc:name="Until Successful" doc:id="fb6c46a3-9d6d-4a3c-af92-c7fdf5b8e3b5" millisBetweenRetries="30000">
			<ee:transform doc:name="set query params" doc:id="b6b99a38-3a52-45ed-a010-3a0230a3f890" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable resource="dwl/wup_query_params_for_article_item.dwl" variableName="queryParams" />
				</ee:variables>
			</ee:transform>
			<http:request method="GET" doc:name="Request for Item" doc:id="e4e07381-c497-4bac-9c7f-3e9be94d2726" config-ref="HTTP_Request_configuration_OEBS_WUP" path="${config.path_item}" target="ArticleItem">
			<http:body><![CDATA[#[{}]]]></http:body>
			<http:query-params><![CDATA[#[vars.queryParams]]]></http:query-params>
		</http:request>
		</until-successful>
		<ee:transform doc:name="set flags" doc:id="ac6bef93-6670-4304-83ad-7db9127f5027" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/wup_bom_enabled_flag.dwl" variableName="bom_enabled_flag" />
				<ee:set-variable resource="dwl/wup_planning_make_buy_code.dwl" variableName="planning_make_buy_code" />
				<ee:set-variable resource="dwl/wup_filter_org_code.dwl" variableName="filterOrgCode" />
				<ee:set-variable resource="dwl/wup_has_any_item.dwl" variableName="hasAnyItem" />
			</ee:variables>
		</ee:transform>
		    <flow-ref doc:name="wup-send-to-aggregated-data" doc:id="42f26383-97f5-4ca4-8bda-7b2720555b36" name="wup-send-to-aggregated-data" target="eaoAggregatedOutput"/>
		<flow-ref doc:name="wup-determine-processing-case" doc:id="a7110583-af8e-419f-a8c3-e5088853e566" name="wup-determine-processing-case"/>
		<choice>
        <when expression="#[vars.processingCase == 'WITH_BOM']">
            <flow-ref name="wup-process-with-bom" doc:name="wup-process-with-bom"/>
        </when>
        <when expression="#[vars.processingCase == 'BUY']">
            <flow-ref name="wup-process-buy" doc:name="wup-process-buy"/>
        </when>
        <when expression="#[vars.processingCase == 'WITHOUT_BOM']">
            <flow-ref name="wup-process-without-bom" doc:name="wup-process-without-bom"/>
        </when>
        <otherwise>
            <logger level="INFO" message='[wup-Item] Skipping processing for item: #[payload.parameterList.ERP_ID], case: #[vars.processingCase]' />
        </otherwise>
    </choice>
		<logger level="INFO" doc:name="Item finished" doc:id="d3a6b2e7-bdc4-4417-aab2-cbf3de56f30e" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logMessage": "item request finished",&#10;	"action": "item request",&#10;	"flowName": flow.name,&#10;	"oebsJmsMessage": payload&#10;}]' />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b5974ff5-fbce-4ddd-a042-69d04a412271" >
				<logger level="ERROR" doc:name="ERROR: item request has error" doc:id="e7d7bd09-8185-4357-bffe-44b88378f293" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logMessage": "item request has error",&#10;	"action": "item request to oebs",&#10;	"flowName": flow.name,&#10;	"oebsJmsMessage": payload&#10;}]' />
				<cloudhub:create-notification domain="eao-oracle-salesforce-prod" doc:name="Create Notification" doc:id="9ec398f0-8da0-494c-841d-e57844876d0f" priority="INFO" config-ref="CloudHub_Config"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<sub-flow name="wup-determine-processing-case" doc:id="f52b9878-4ce7-4711-aeb1-9c66c66aca26">
	  <!-- Przykład – na razie tylko EHQ, później rozbudujesz o ESY -->

    <!-- Tu docelowo możesz też ustawić:
         vars.orgToUse (EHQ/ESY)
         vars.isDualBom (true/false) po analizie obu orgów -->
		<ee:transform doc:name="Set processing case" doc:id="dba0e5af-91f1-4a99-b10e-6db186c3ddbb" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dwl/wup_processing_case.dwl" variableName="processingCase" />
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<sub-flow name="wup-process-with-bom" doc:id="5056f21b-cf31-4c56-8ca1-5a959a96737d" >
						<logger level="DEBUG" doc:name="With BOM_debug" doc:id="922290d3-3dd8-4a79-bbd0-0e1280b2f7e2" message="With BOM" />
					<until-successful maxRetries="3" doc:name="Until Successful" doc:id="2c9c4ab5-744a-42db-b34a-9af26312b3c5" millisBetweenRetries="30000">
							<ee:transform doc:name="set query params" doc:id="a00ad7a0-bc90-42c0-a2b5-4b80d464b723" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable resource="dwl/wup_query_params_for_bom-items.dwl" variableName="queryParams" />
				</ee:variables>
			</ee:transform>
			<http:request method="GET" doc:name="Request for BOM Item" doc:id="48077f20-89a2-4838-80b4-8b97355bd32d" config-ref="HTTP_Request_configuration_OEBS_WUP" path="${config.path_itemBom}" target="bomArticleItem">
								<http:body><![CDATA[#[{}]]]></http:body>
								<http:query-params><![CDATA[#[vars.queryParams]]]></http:query-params>
						</http:request>
					</until-successful>
<ee:transform doc:name="Decide orgToUse (EHQ/ESY)" doc:id="4d251901-0dc3-4ba3-b509-0a71306eb199">
    <ee:message />
    <ee:variables>
				<ee:set-variable resource="dwl/wup_org_to_use.dwl" variableName="orgToUse" />
				<ee:set-variable resource="dwl/wup_is_dual_bom.dwl" variableName="isDualBom" />
    </ee:variables>
</ee:transform>
		<choice doc:name="Check send email" doc:id="bab108b2-e686-4464-97d5-10a8b9de9ae6" >
			<when expression="#[vars.isDualBom]">
				<logger level="INFO" doc:name="Logger email" doc:id="6347e232-f930-44da-bbee-ba5079a12138" message="The emal will be send, is dualBOM."/>
				<flow-ref doc:name="wup-send-alert-email" doc:id="22c6b22c-c92a-40aa-9343-e366f13bbd05" name="wup-send-alert-email"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger no email" doc:id="ed015901-93c9-4c33-b0d3-3d6d2e23d423" message="No need to send an email, org = #[vars.orgToUse]"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform to XML with BOM" doc:id="b819eb42-4276-4c02-a2b8-bff16ec09d21">
					<ee:message>
					</ee:message>
							<ee:variables >
				<ee:set-variable resource="dwl/wup_prepared_article_with_bom.dwl" variableName="preparedArticleWithBom" />
							</ee:variables>
				</ee:transform>
				<choice doc:name="Choice" doc:id="b135a445-dec1-4fcd-bc59-85f2e1305838">
							<when expression="#[vars.preparedArticleWithBom.root != null]">
								<ee:transform doc:name="Get MaterialIDs from payload" doc:id="291c35a6-951b-4b5f-a197-7295f781890a" >
									<ee:message />
									<ee:variables >
						<ee:set-variable resource="dwl/wup_material_ids.dwl" variableName="materialIDs" />
									</ee:variables>
								</ee:transform>
								<choice doc:name="Choice" doc:id="776c8d25-faeb-4431-8840-412d32804695" >
									<when expression="#[vars.materialIDs != null]">
										<set-variable value="#[payload]" doc:name="originalPayload" doc:id="4b07be67-c542-414e-aab9-fc337f81e059" variableName="originalPayload" />
										<set-variable value="#[[]]" doc:name="Init results" doc:id="4b0cfe57-d0c6-4b6f-844a-b78ae5aedf78" variableName="results" />
										<foreach doc:name="For Each" doc:id="1a6fb33d-d986-423b-9051-23740e3d419d" collection="#[vars.materialIDs]" >
											<set-variable value="#[payload.MaterialID]" doc:name="currentMaterialID" doc:id="9c1015c2-4cc7-44a2-aea9-d4adb14eef91" variableName="currentMaterialID" />
											<choice doc:name="Choice" doc:id="501b7b60-63b6-4c22-99a0-fbbe5f197ea6" >
												<when expression='#[["SA", "FG"] contains payload.MaterialType]' >
													<until-successful maxRetries="3" doc:name="Until Successful" doc:id="4ec61d4d-2346-4112-a688-875c8dc69984" millisBetweenRetries="30000">
														<ee:transform doc:name="set query params" doc:id="49870952-108e-4d79-bd3e-4a327eaba569" >
											<ee:message >
											</ee:message>
											<ee:variables >
												<ee:set-variable resource="dwl/wup_query_params_for_bom-items_2.dwl" variableName="queryParams" />
											</ee:variables>
										</ee:transform>
										<http:request method="GET" doc:name="Request for BOM Item" doc:id="a40fdd73-1da8-4954-a37b-d21afba53af2" config-ref="HTTP_Request_configuration_OEBS_WUP" path="${config.path_itemBom}" target="bomOfBomArticleItem">
														<http:body><![CDATA[#[{}]]]></http:body>
														<http:query-params><![CDATA[#[vars.queryParams]]]></http:query-params>
													</http:request>
													</until-successful>
													<ee:transform doc:name="Count BOM components" doc:id="00c5663e-39bd-4a80-8e66-5b7c3c788f3b" >
														<ee:message >
											<ee:set-payload resource="dwl/wup_count_bom_components.dwl" />
														</ee:message>
													</ee:transform>
												</when>
												<otherwise >
													<ee:transform doc:name="materialID without BOM" doc:id="572b06af-6916-4ef9-b39b-e024d53bb892" >
														<ee:message >
											<ee:set-payload resource="dwl/wup_material_without_bom.dwl" />
														</ee:message>
													</ee:transform>
												</otherwise>
											</choice>
											<set-variable value="#[vars.results ++ [payload]]" doc:name="All results" doc:id="82388c08-2b6c-4bad-80ab-090f7e59f133" variableName="results" />
										</foreach>
										<ee:transform doc:name="Generate Payload without empty components" doc:id="6af7cb7b-2261-4ab3-8900-5904654c907b">
									<ee:message>
								<ee:set-payload resource="dwl/wup_payload_without_empty_components.dwl" />
									</ee:message>
								</ee:transform>
										<set-variable value="#[uuid()]" doc:name="Generate UUID for foreignkey message into vars.uuid" doc:id="b569dad8-6852-4be1-a754-027c905972a9" variableName="uuid" />
										<smb:file-write doc:name="File Write" doc:id="54e5bdfc-597c-49cf-9f49-fb31d5f1515f" fileName='#[vars.uuid ++ ".xml"]' dirName="${soap.dmItem}" config-ref="SMB_Connector_Config" />
									</when>
									<otherwise >
										<logger level="INFO" doc:name="Logger" doc:id="6fa45731-aaef-46a9-88c7-90446da886ae" message="#['Item number ' ++ vars.ArticleItem.item[0].item_number ++ ' not written into XML because no valid BOM item!']" />
									</otherwise>
								</choice>
							</when>
				</choice>
	</sub-flow>
	<sub-flow name="wup-process-buy" doc:id="93181171-6913-4588-a5e8-9256b9ccfc87" >
	<logger level="DEBUG" doc:name="BUY item" doc:id="02aecf70-6f60-4c1e-8f66-2880eca7b5bb" message="BUY item" />
						<ee:transform doc:name="Transform to XML without BOM" doc:id="511529b7-2c57-48f7-885d-2ab4f9aa89c2" >
							<ee:message >
				<ee:set-payload resource="dwl/wup_create_process_buy.dwl" />
							</ee:message>
						</ee:transform>
						<set-variable value="#[uuid()]" doc:name="Generate UUID for foreignkey message into vars.uuid" doc:id="a110c83c-bb77-42f5-aeca-d24b37133b57" variableName="uuid" />
						<smb:file-write doc:name="File Write" doc:id="58fd2b11-402d-494e-bfb0-80b222ead250" config-ref="SMB_Connector_Config" fileName='#[vars.uuid ++ ".xml"]' dirName="${soap.dmItem}" />
					
	</sub-flow>
	<sub-flow name="wup-process-without-bom" doc:id="8d8d631b-547e-4923-853e-5eda4ef5a06c" >
	<logger level="DEBUG" doc:name="Without BOM" doc:id="3d0d6e3e-b27d-4399-a4d1-40d0100811a0" message="without BOM" />
						<ee:transform doc:name="Transform to xml without bom" doc:id="8c52e0f1-388d-49e0-a2b4-4b99344fb6e1">
					<ee:message>
				<ee:set-payload resource="dwl/wup_create_process_without_bom.dwl" />
					</ee:message>
				</ee:transform>
				<set-variable value="#[uuid()]" doc:name="Generate UUID for foreignkey message into vars.uuid" doc:id="39ba66f0-fde7-44f0-84b1-b0f4e6f58956" variableName="uuid" />
				<smb:file-write doc:name="File Write" doc:id="b6595eed-9a48-4e5b-99c1-49393e7c849f" dirName="${soap.dmItem}" fileName='#[vars.uuid ++ ".xml"]' config-ref="SMB_Connector_Config" />
			
	</sub-flow>
	<sub-flow name="wup-send-to-aggregated-data" doc:id="68adb61f-dbc3-477d-85cf-b44e7e9d39f6" >
	<try doc:name="Try" doc:id="123adae6-63a1-424a-8f5d-5399b4652ef0" >
					<ee:transform doc:name="set headers" doc:id="8f7f2f2d-0d47-4cb5-b081-d1af21a7a13f" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable resource="dwl/wup_headers_eao_aggregated_data.dwl" variableName="headers" />
				</ee:variables>
			</ee:transform>
			<http:request method="POST" doc:name="Request to eao-p-aggregated-data" doc:id="eb97c39d-5fbb-46ad-b259-9896bd6f5643" config-ref="HTTP_Request_config_aggregatedData" path="${aggregateddata.pathitem}" responseTimeout="60000" target="eaoAggregatedData">
			<http:body><![CDATA[#[vars.ArticleItem.item]]]></http:body>
			<http:headers><![CDATA[#[vars.headers]]]></http:headers>
		</http:request>
					<logger level="INFO" doc:name="Request sent to aggregated data" doc:id="21bbe3aa-9423-4c25-873c-6ad4c1eff889" message="Item sent to aggregated data" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="28d63bfb-7cc0-4afb-8eca-f0e10d85abbf" >
							<logger level="ERROR" doc:name="ERROR: item request has error" doc:id="ed1d9525-c5d3-43e9-bc98-50a9b02ed933" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logMessage": "ERROR: Item NOT sent to aggregated data",&#10;	"action": "item request to oebs", //ask, "item request to aggregated data"&#10;	"flowName": flow.name,&#10;	"oebsJmsMessage": payload&#10;}]' />
						</on-error-continue>
					</error-handler>
				</try>
	</sub-flow>
	<sub-flow name="wup-send-alert-email" doc:id="690cecee-6002-49f5-aeae-f1d6a34369d1" >
		<try doc:name="Try" doc:id="4ef9b9df-d4d7-4e16-8069-ba0de8a1ff5b" >
		
			<ee:transform doc:name="Prepare payload" doc:id="7712d76d-7334-4473-841f-77ff826423ff">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable resource="dwl/wup_payload_email.dwl" variableName="payloadEmail" />
			</ee:variables>
		</ee:transform>
			<outlook365:send-mail doc:name="Send mail about dualBom" doc:id="41d786ca-4dfd-49b5-90d8-66240316790d" config-ref="Outlook365_Outlook365_Config" userId="#[p('m365.user-id')]" >
				<outlook365:message ><![CDATA[#[vars.payloadEmail]]]></outlook365:message>
			</outlook365:send-mail>
			<logger level="INFO" doc:name="Email ok" doc:id="58157cd6-d88c-4c85-b1e2-3385b71eeb83" message="Email has been sent to #[p('m365.emailTest')]"/>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="04f5548e-9c24-4602-a07a-2b3635c2914f" >
					<logger level="ERROR" doc:name="ERROR: email not send" doc:id="f556e209-50b2-476f-bbb7-99ace4dff445" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"logMessage": "ERROR: Email not send",&#10;	"action": "sending email", &#10;	"flowName": flow.name,&#10;	"oebsJmsMessage": payload&#10;}]' />
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
</mule>
