src/test/munit/wup-item-test-suite.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:munit="http://www.mulesoft.org/schema/mule/munit" xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
		http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd">
	<munit:config name="wup-item-test-suite.xml" />
	<munit:before-test name="wup-item-test-suiteBefore_Test" doc:id="004fef59-3482-425f-b311-0b314d09a56a" >
		<munit-tools:mock-when doc:name="Mock HTTP Request to eao-p-aggregated-data" doc:id="5acefda3-9cb9-44ca-b6f7-f88675b078ba" processor="http:request">
			<munit-tools:with-attributes>
				<munit-tools:with-attribute whereValue="Request to eao-p-aggregated-data" attributeName="doc:name" />
			</munit-tools:with-attributes>
		</munit-tools:mock-when>
		<munit-tools:mock-when doc:name="Mock File Write" doc:id="215f9c2b-7930-4df8-98cb-62170e57137d" processor="smb:file-write">
			<munit-tools:with-attributes>
				<munit-tools:with-attribute whereValue="File Write" attributeName="doc:name" />
				<munit-tools:with-attribute whereValue="b6595eed-9a48-4e5b-99c1-49393e7c849f" attributeName="doc:id" />
			</munit-tools:with-attributes>
		</munit-tools:mock-when>
		<munit-tools:mock-when doc:name="Mock send email" doc:id="026a1993-2ca2-4b1a-ada1-39ee4c0e7e7a" processor="outlook365:send-mail">
			<munit-tools:with-attributes >
				<munit-tools:with-attribute whereValue="41d786ca-4dfd-49b5-90d8-66240316790d" attributeName="doc:id" />
			</munit-tools:with-attributes>
		</munit-tools:mock-when>
		<munit-tools:mock-when doc:name="Mock HTTP Request bomOfBomArticleItem" doc:id="20af3a08-3bf1-46aa-8999-18a800be9b03" processor="http:request">
				<munit-tools:with-attributes>
					<munit-tools:with-attribute whereValue="Request for BOM Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="bomOfBomArticleItem" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return>
					<munit-tools:variables>
						<munit-tools:variable key="bomOfBomArticleItem" value="#[readUrl('classpath://examples/article_item_BOM_of_BOM.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
	</munit:before-test>
	<munit:test name="wupItem-case1-bomEhqOnly" doc:id="dd014bf4-7851-451f-a17a-822573d7a706" description="Case 1: BOM only in EHQ, BOM from EHQ is transferred">
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock HTTP Request ArticleItem" doc:id="acaa0178-cf07-4c56-bbe9-5ff63161406a" processor="http:request">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="ArticleItem" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:variables >
						<munit-tools:variable key="ArticleItem" value="#[readUrl('classpath://examples/case_1_article_item.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
			<munit-tools:mock-when doc:name="Mock HTTP Request bomArticleItem" doc:id="7663e548-d004-4732-9d80-51d954ef2c31" processor="http:request">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for BOM Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="singleBomResponse" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-call flow="wupItem-case1-bomEhqOnly-mock-bom-article-item" />
			</munit-tools:mock-when>
		</munit:behavior>
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="ca041be2-e910-4591-a1cc-40ea2fdb4d33">
				<munit:payload value="#[readUrl('classpath://examples/start_event.json')]" />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to wup-Item" doc:id="2916a635-9066-4f75-97c3-c3251096ccd5" name="wup-Item"/>
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert processingCase" doc:id="50a433e3-57cd-4670-b935-a4e4a77575d5" is="#[MunitTools::containsString('WITH_BOM')]" expression="#[vars.processingCase]"/>
			<munit-tools:assert-that doc:name="Assert orgToUse" doc:id="1295dea9-98bb-4e53-8904-ee72fbbe4af5" expression="#[vars.orgToUse]" is="#[MunitTools::containsString('EHQ')]"/>
			<munit-tools:verify-call doc:name="Verify call send mail" doc:id="840cf1b3-cfbf-48cf-ab35-d21e9ad030b8" processor="outlook365:send-mail" times="0">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Send mail about dualBom" attributeName="doc:name" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
			<munit-tools:verify-call doc:name="Verify TransformMessage materialID without BOM" doc:id="0324f15c-8c0c-4b1c-a576-fc310005eb59" processor="ee:transform" times="1">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="materialID without BOM" attributeName="doc:name" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
			<munit-tools:verify-call doc:name="Verify call file write" doc:id="c7223a46-f65a-43cf-82d5-61898d92dc03" processor="smb:file-write" times="1">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="File Write" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="b6595eed-9a48-4e5b-99c1-49393e7c849f" attributeName="doc:id" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
		</munit:validation>
	</munit:test>
	<flow name="wupItem-case1-bomEhqOnly-mock-bom-article-item" doc:id="0aedc30a-fa59-4e39-aeb1-ed3531c1f4b3" >
		<choice doc:name="Choice" doc:id="977c62f0-58a8-4acb-a627-351b55e26e9c" >
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "EHQ"]'>
				<set-variable value="#[readUrl('classpath://examples/case_1_article_item_BOM_EHQ_only.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="c83ed168-dfa6-4b3d-a5a7-5c21c38506fd" variableName="singleBomResponse"/>
			</when>
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "ESY"]'>
				<set-variable value="#[readUrl('classpath://examples/case_1_article_item_BOM_EHQ_only_ESY.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="d38f7560-900e-4862-89a7-17f5ad49a8aa" variableName="singleBomResponse" />
			</when>
		</choice>
	</flow>
	<munit:test name="wupItem-case2-bomEsyOnly" doc:id="7f347d94-0bf4-4757-9fd0-c079c840f81e" >
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock HTTP Request ArticleItem" doc:id="8310ecd2-985c-4633-a12c-31358f0b1de2" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="ArticleItem" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:variables >
						<munit-tools:variable key="ArticleItem" value="#[readUrl('classpath://examples/case_2_article_item.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
			<munit-tools:mock-when doc:name="Mock HTTP Request bomArticleItem" doc:id="508c57c3-64d4-45b3-ac93-f1932e192b43" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for BOM Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="singleBomResponse" attributeName="target" />
				</munit-tools:with-attributes>
				
				<munit-tools:then-call flow="wupItem-case2-bomEsyOnly-mock-bom-article-item" />
			</munit-tools:mock-when>
		</munit:behavior>
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="876589d3-0c8e-40d9-9097-e554fda89e07" >
				<munit:payload value="#[readUrl('classpath://examples/start_event.json')]" />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to wup-Item" doc:id="91254fd4-2323-4f3e-ad54-aae32b75175a" name="wup-Item" />
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert processingCase" doc:id="aff68d0a-fe7e-4b04-b4cb-51c93e4dbd89" is="#[MunitTools::containsString('WITH_BOM')]" expression="#[vars.processingCase]" />
			<munit-tools:assert-that doc:name="Assert orgToUse" doc:id="40a2b1a0-2ed2-43e6-95dc-a1595377c033" expression="#[vars.orgToUse]" is="#[MunitTools::containsString('ESY')]" />
			<munit-tools:verify-call doc:name="Verify call send mail" doc:id="0305c776-fab9-47a5-b9e9-f4d181a72765" processor="outlook365:send-mail" times="0" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Send mail about dualBom" attributeName="doc:name" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
		</munit:validation>
	</munit:test>
	<flow name="wupItem-case2-bomEsyOnly-mock-bom-article-item" doc:id="0c719ca9-1f03-4965-9946-562ab284f58b" >
		<choice doc:name="Choice" doc:id="711c57ee-c429-4237-b7b6-33680cd89288" >
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "EHQ"]'>
				<set-variable value="#[readUrl('classpath://examples/case_2.2_article_item_BOM_ESY_only_EHQ.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="9206cc71-0234-492e-b11f-7f039db1aa5f" variableName="singleBomResponse"/>
			</when>
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "ESY"]'>
				<set-variable value="#[readUrl('classpath://examples/case_2.2_article_item_BOM_ESY_only.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="e64f51fa-68a1-4f62-807b-0153c677b1ee" variableName="singleBomResponse"/>
			</when>
		</choice>
	</flow>
	<munit:test name="wupItem-case2.2-bomEsyOnlyEhqEmpty" doc:id="63c0227b-9ffd-4c77-9a83-0afedfc6314c" >
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock HTTP Request ArticleItem" doc:id="bca0cf29-5541-41e5-8261-82e43d478cd0" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="ArticleItem" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:variables >
						<munit-tools:variable key="ArticleItem" value="#[readUrl('classpath://examples/case_2.2_article_item.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
			<munit-tools:mock-when doc:name="Mock HTTP Request bomArticleItem" doc:id="0ecf5afe-8208-42ac-a466-2877ac2dbb1e" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for BOM Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="singleBomResponse" attributeName="target" />
				</munit-tools:with-attributes>
				
				<munit-tools:then-call flow="wupItem-case2-bomEsyOnly-mock-bom-article-item" />
			</munit-tools:mock-when>
		</munit:behavior>
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="5946d3ed-5564-4e13-ac6d-39cb087ef150" >
				<munit:payload value="#[readUrl('classpath://examples/start_event.json')]" />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to wup-Item" doc:id="a9e48b3d-5740-45ce-a6e1-d2f4c43822b3" name="wup-Item" />
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert processingCase" doc:id="2644f295-253e-492a-b41a-9caa6c956493" is="#[MunitTools::containsString('BUY')]" expression="#[vars.processingCase]" />
			<munit-tools:verify-call doc:name="Verify call send mail" doc:id="2b36011d-530b-49ca-8156-2a522771995f" processor="outlook365:send-mail" times="0" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Send mail about dualBom" attributeName="doc:name" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
		</munit:validation>
	</munit:test>
	<flow name="wupItem-case2.2-bomEsyOnly-mock-bom-article-item" doc:id="5471593f-0a00-4a65-9a7b-6cddeb68bec0" >
		<choice doc:name="Choice" doc:id="5b38531d-7c80-4a4c-a9bd-adb660bbca9e" >
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "EHQ"]'>
				<set-variable value="#[readUrl('classpath://examples/case_2_article_item_BOM_ESY_only_EHQ.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="e7f5ec13-0b4e-4963-b760-844ce84a4aab" variableName="singleBomResponse"/>
			</when>
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "ESY"]'>
				<set-variable value="#[readUrl('classpath://examples/case_2_article_item_BOM_ESY_only.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="fcba38f6-253b-436c-827e-fe25cd0699b5" variableName="singleBomResponse"/>
			</when>
		</choice>
	</flow>
	<munit:test name="wupItem-case3-noBomComponents" doc:id="70679ebd-5c53-49f4-8f48-4b2632fd97f0">
		<munit:behavior>
			<munit-tools:mock-when doc:name="Mock HTTP Request ArticleItem" doc:id="d9e9b18a-9c89-4043-be93-2eed5f8898cd" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="ArticleItem" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:variables >
						<munit-tools:variable key="ArticleItem" value="#[readUrl('classpath://examples/case_3_article_item.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
			<munit-tools:mock-when doc:name="Mock HTTP Request bomArticleItem" doc:id="1da7b285-15e0-4161-b3f1-609788460222" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for BOM Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="singleBomResponse" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:variables >
						<munit-tools:variable key="singleBomResponse" value="#[readUrl('classpath://examples/case_3_article_item_BOM_NONE.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
		</munit:behavior>
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="a29c6bc8-a703-4041-9892-0b1e049cf42f">
				<munit:payload value="#[readUrl('classpath://examples/start_event.json')]" />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to wup-Item" doc:id="610a7ba0-9da4-4558-bd68-2a26d7d63a4d" name="wup-Item" />
		</munit:execution>
		<munit:validation>
			<munit-tools:assert-that doc:name="Assert processingCase" doc:id="e115bf81-a421-4fb4-a549-b85026d6d10b" expression="#[vars.processingCase]" is="#[MunitTools::containsString('WITH_BOM')]" />
			<munit-tools:verify-call doc:name="Verify call send mail" doc:id="39157634-5bd7-4bc6-b48e-8d8fabaf02a2" processor="outlook365:send-mail" times="1" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="41d786ca-4dfd-49b5-90d8-66240316790d" attributeName="doc:id" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
			<munit-tools:verify-call doc:name="Verify call Transform XML without BOM Components" doc:id="e384de33-99c7-4f3e-9302-552107578fe8" processor="ee:transform">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="41c78d36-5e70-4a1b-aeaf-c92951c14115" attributeName="doc:id" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
			<munit-tools:verify-call doc:name="Verify call File Write" doc:id="46d2dd32-cb68-43aa-999a-c02f486b867b" processor="smb:file-write" times="0">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="File Write" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="b6595eed-9a48-4e5b-99c1-49393e7c849f" attributeName="doc:id" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
		</munit:validation>
	</munit:test>
	<munit:test name="wupItem-case4-dualBom" doc:id="40d5ee04-32d9-426c-b238-51473abfed7d" >
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock HTTP Request ArticleItem" doc:id="86edd55b-f497-4181-8baf-df023074e121" processor="http:request">
				<munit-tools:with-attributes>
					<munit-tools:with-attribute whereValue="Request for Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="ArticleItem" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:variables >
						<munit-tools:variable key="ArticleItem" value="#[readUrl('classpath://examples/case_4_article_item.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
			<munit-tools:mock-when doc:name="Mock HTTP Request bomArticleItem" doc:id="30fdd8e0-0674-460a-b29a-f26d091457a7" processor="http:request">
				<munit-tools:with-attributes>
					<munit-tools:with-attribute whereValue="Request for BOM Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="singleBomResponse" attributeName="target" />
				</munit-tools:with-attributes>
				
				<munit-tools:then-call flow="wupItem-case4-dual-bom-mock-bom-article-item" />
			</munit-tools:mock-when>
		</munit:behavior>
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="9e11c54a-69a8-4f37-b047-2d338a5a5ede">
				<munit:payload value="#[readUrl('classpath://examples/start_event.json')]" />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to wup-Item" doc:id="5f71da2c-dd20-4840-a202-2166b9d3b965" name="wup-Item" />
		</munit:execution>
		<munit:validation >
			<munit-tools:assert-that doc:name="Assert processingCase" doc:id="665decb7-1598-4190-bf2b-f1a5f7f47356" expression="#[vars.processingCase]" is="#[MunitTools::containsString('WITH_BOM')]" />
			<munit-tools:assert-that doc:name="Assert orgToUse" doc:id="09fe4ac7-ae8a-4955-9ce6-4b4fe13397b9" expression="#[vars.orgToUse]" is="#[MunitTools::containsString('ESY')]" />
			<munit-tools:verify-call doc:name="Verify call send mail" doc:id="cb4472ad-ef9e-46fd-bf19-e692b0f93157" processor="outlook365:send-mail" times="1">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="41d786ca-4dfd-49b5-90d8-66240316790d" attributeName="doc:id" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
			<munit-tools:verify-call doc:name="Verify call File Write" doc:id="2b8009d1-e2d1-42d8-a7f7-74726193584f" processor="smb:file-write" times="1" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="File Write" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="b6595eed-9a48-4e5b-99c1-49393e7c849f" attributeName="doc:id" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
		</munit:validation>
	</munit:test>
	<flow name="wupItem-case4-dual-bom-mock-bom-article-item" doc:id="aa8473ce-c5d4-41e9-b3f4-a01183c2b211" >
		<choice doc:name="Choice" doc:id="aa8640f5-cbff-44a7-a132-a62af11e121f" >
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "EHQ"]' >
				<set-variable value="#[readUrl('classpath://examples/case_4_article_item_BOM_EHQ_dual_BOM.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="21d6830f-07f6-4714-b290-86dceff45719" variableName="singleBomResponse" />
			</when>
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "ESY"]' >
				<set-variable value="#[readUrl('classpath://examples/case_4_article_item_BOM_ESY_dual_BOM.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="44fd7c08-0a74-48b4-8f4c-eee312f5a0f1" variableName="singleBomResponse" />
			</when>
		</choice>
	</flow>
	<munit:test name="wupItem-internalMovement-filtered" doc:id="03671534-3ca7-4083-951a-827e5a3fc938" >
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock HTTP Request ArticleItem" doc:id="6df79873-96ae-47a9-998e-fba2ec58afaa" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="ArticleItem" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:variables >
						<munit-tools:variable key="ArticleItem" value="#[readUrl('classpath://examples/article_item_internal_movement.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
			<munit-tools:mock-when doc:name="Mock HTTP Request bomArticleItem" doc:id="59bbe71f-0376-46af-b777-c8c0b22efdc3" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for BOM Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="singleBomResponse" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-call flow="wup-item-internal-movements-mock-bom-article-item" />
			</munit-tools:mock-when>
		</munit:behavior>
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="69c7247a-14ab-49f7-a006-17494607915d">
				<munit:payload value="#[readUrl('classpath://examples/start_event.json')]" />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to wup-Item" doc:id="ba0b17bd-4af5-482d-87ad-7bc37ffa75bb" name="wup-Item" />
		</munit:execution>
		<munit:validation >
			<munit-tools:verify-call doc:name="Verify call send email" doc:id="5e55995e-bae6-4b2e-9116-22900f3568c9" processor="outlook365:send-mail" times="0">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Send mail about dualBom" attributeName="doc:name" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
			<munit-tools:verify-call doc:name="Verify call File Write" doc:id="6c99ee9b-db26-49b7-80f9-894e50299ebb" processor="smb:file-write" times="0" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="File Write" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="b6595eed-9a48-4e5b-99c1-49393e7c849f" attributeName="doc:id" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
		</munit:validation>
	</munit:test>
	<flow name="wup-item-internal-movements-mock-bom-article-item" doc:id="f28bb22e-61ff-4506-b692-1ae2d273fc24" >
		<choice doc:name="Choice" doc:id="79867b2f-867d-471e-95ed-1d8d183aecb1" >
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "EHQ"]' >
				<set-variable value="#[readUrl('classpath://examples/article_item_internal_movement_BOM_EHQ.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="ce41295f-448d-49ce-8450-0eb6826691a7" variableName="singleBomResponse" />
			</when>
			<when expression='#[payload.ERP_INVENTORY_ORG_CODE == "ESY"]' >
				<set-variable value="#[readUrl('classpath://examples/article_item_internal_movement_BOM_ESY.json', &quot;application/json&quot;)]" doc:name="Set Variable" doc:id="e302768d-3506-4e24-a19c-3f39c78bff2f" variableName="singleBomResponse" />
			</when>
		</choice>
	</flow>
	<munit:test name="wup-item-aggregated-data-request" doc:id="6081f56f-27a3-49fa-827d-6707c6d31fbd" >
		<munit:behavior >
			<munit-tools:mock-when doc:name="Mock HTTP Request ArticleItem" doc:id="25d4b847-8bb6-48aa-a041-0097a41561dd" processor="http:request" >
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request for Item" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="ArticleItem" attributeName="target" />
				</munit-tools:with-attributes>
				<munit-tools:then-return >
					<munit-tools:variables >
						<munit-tools:variable key="ArticleItem" value="#[readUrl('classpath://examples/article_item_no_aggregated_data.json', &quot;application/json&quot;)]" />
					</munit-tools:variables>
				</munit-tools:then-return>
			</munit-tools:mock-when>
		</munit:behavior>
		<munit:execution >
			<munit:set-event doc:name="Set Event" doc:id="5fb7f585-110b-4195-82b3-104ca9777a50">
				<munit:payload value="#[readUrl('classpath://examples/start_event_no_aggregated_data.json')]" />
			</munit:set-event>
			<flow-ref doc:name="Flow-ref to wup-Item" doc:id="8d657fd7-701d-416c-8283-b8357503e424" name="wup-Item" />
		</munit:execution>
		<munit:validation >
			<munit-tools:verify-call doc:name="Verify call HTTP Aggregated data" doc:id="8a459abd-fb43-4d3b-b9e4-23848a0487d3" processor="http:request" times="1">
				<munit-tools:with-attributes >
					<munit-tools:with-attribute whereValue="Request to eao-p-aggregated-data" attributeName="doc:name" />
					<munit-tools:with-attribute whereValue="eaoAggregatedData" attributeName="target" />
				</munit-tools:with-attributes>
			</munit-tools:verify-call>
		</munit:validation>
	</munit:test>


</mule>
